{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for venue in areas %}
<div class="w-50">	
	<div id="align-btn" >
		<h4 >{{ venue.city }}, {{ venue.state }}</h4>
		<button data-id="{{venue.id}}" class="delete-button">&cross;</button>		
	</div>
	<div>
		<ul class="items">		
			<li >
				<a id = "venue_link_new" href="/venues/{{venue.id}}"> {{ venue.name }} </a>				
			</li>				
		</ul>

	</div>	
</div>

{% endfor %}
<script>
	const btns = document.querySelectorAll('.delete-button')
	for (let btn of btns){
		btn.onclick=(e)=>{
			e.preventDefault()
			venue_id= e.target.dataset['id']
			fetch('/venues/'+venue_id,
			{
				method: 'DELETE',
				headers: {
					'Content-Type': 'application/json'
				}
			})
			.then( ()=>window.location.reload()  )
			.catch(console.log('done'))
			
		}
	}

</script>
<style>
	#align-btn{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 50%;		
	}
	#venue_link_new:hover{
		color: red
	}
	button {
		color: red;
		background-color: white;
		border-color: white;
	}

</style>
{% endblock %}

